{% extends '::base.html.twig' %}
{% block title %}
Contact Entreprise
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/persoForm.css') }}">
 <link rel="stylesheet" href="{{ asset('css/style.css') }}">

 {% endblock %}

{% block body %}

<form action="{{ path('acme_core_contactentreprise') }}" {{ form_enctype(form) }} method="POST">
        {{ form_row(form._token) }}

<div class="nom">Nom de l'entreprise : </div>
<div class="form">{{ form_widget(form.nom) }}</div>
<br />

<div class="nom"> Votre logo : <i>( il sera affiché en 280*200px )</i></div>
 <div class="form">{{ form_widget(form.imageFile) }}</div>

<br />

<div class="nom">Email de contact : </div>
<div class="form">{{ form_widget(form.email) }}</div>

<br />

<div class="nom">Remarques , informations et participations : </div>
<div class="form">{{ form_widget(form.remarque) }}</div>

<div id="buttonform">
        <button type="submit">Valider</button>
        <button type="button">Annuler</button>
	
</div>
</form>
{% endblock %}
