{% extends '::base.html.twig' %}
{% block title %}
Description
{% endblock %}
 {% block stylesheet %}

 {% endblock %}
 {% block body %}

		<!-- Main -->
			<div class="wrapper">
				<div class="container" id="main">
					<div class="row 150%">
						<div class="4u 12u(narrower)">

							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<header>
											<h3>Trailer de l'evenement</h3>
										</header>
										<p>{{ lienVideo | raw }}</p>
										
									</section>
									<section>
										<header>
											<h3>Evenement facebook </h3>
										</header>
										<a href="https://www.facebook.com/events/420917201404680/" target ='_blank'><img src="{{asset('images/ProjectTeam.png')}}" id="PageFacebook" alt="PageFacebook" height="320px"/></a>
										<br/>
										
									</section>
								</section>

						</div>
						<div class="8u 12u(narrower) important(narrower)">

							<!-- Content -->
								<article id="content">

									{{ description | raw }}

								</article>

						</div>
					</div>
					<div class="row features">
						<section class="4u 12u(narrower) feature">
							
									{{ inscription | raw}}

							<ul class="actions">
                            <li class="break"><a href="{{ path('acme_core_contact') }}" class="button">Participer</a></li>
							</ul>
							
						</section>
						<section class="4u 12u(narrower) feature">
							
									{{ sponsor | raw}}
							<ul class="actions">
                            <li class="break"><a href="{{ path('acme_core_sponsor') }}" class="button">Nos Sponsors</a></li>
							</ul>



						</section>
						<section class="4u 12u(narrower) feature">

									{{ partagez | raw}}

							<ul class="actions">
                            <li class="break"><a href="https://www.facebook.com/events/420917201404680/" class="button">Like & Share</a></li>
							</ul>

						</section>
					</div>
				</div>
			</div>

{% endblock %}