{% extends '::base.html.twig' %}
{% block title %}
FeedBack
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/persoForm.css') }}">
 <link rel="stylesheet" href="{{ asset('css/style.css') }}">

 {% endblock %}
{% block body %}

<form action="{{ path('acme_core_feedback') }}" {{ form_enctype(form) }} method="POST" style="margin-top: 30px;">
{{ form_row(form._token) }}
<table>

<div class="nom">{{ form_label(form.email) }}  </div>
<div class="form">{{ form_widget(form.email) }} </div>


<div class="nom">{{ form_label(form.remarque) }} </div>
<div class="form"> {{ form_widget(form.remarque) }} </div>


    <div style="margin-bottom: 30px;">
        <button type="submit" class="btn btn-primary">Valider</button>
        <button type="button" class="btn btn-default">Annuler</button>
    </div>

 {% endblock %}