{% extends '::base.html.twig' %}
{% block title %}
Accueil
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/persoindex.css') }}">

 {% endblock %}




{% block body %}

			<div id="wrapper-grid">
				<a href="{{ path('acme_core_description') }}" title="Description">
					<div class="square hvr-box-shadow-outset titre " id="img1" >
						{{ Inscription | raw }}
					</div>
				</a>
                
               	<a href="{{ path('acme_core_sponsor') }}" title="Description">	
               		<div class="square hvr-box-shadow-outset titre" id="img2">
						{{ Sponsor | raw }}							
					</div>
                </a>

				<a href="http://www.juniorisep.com" title="Junior ISEP">
                	<div class="square hvr-box-shadow-outset titre" id="img3">
						{{ JuniorISEP | raw }}
					</div>
				</a>


				<a href="{{ path('acme_core_contact') }}" title="Contact">
                	<div class="square hvr-box-shadow-outset titre" id="img4">
						{{ Contact | raw }}
					</div>
				</a>

			</div>

 {% endblock %}
