{% extends '::base.html.twig' %}
{% block title %}
Accueil
{% endblock %}
 {% block stylesheet %}
 <link rel="stylesheet" href="{{ asset('css/perso.css') }}">

 {% endblock %}




{% block body %}
<br />
			<div id="wrapper-grid">
				<div class="square hvr-bounce-to-right" id="img1" >
					<a href="{{ path('acme_core_description') }}" title="Description">
						{{ Inscription | raw }}
					</a>
				</div>
                
                <div class="square hvr-bounce-to-right" id="img2">
					<a href="{{ path('acme_core_sponsor') }}" title="Description">
						{{ Sponsor | raw }}
					</a>
								
				</div>
                
                <div class="square hvr-bounce-to-right" id="img3">
					<a href="http://www.juniorisep.com" title="Junior ISEP">
						{{ JuniorISEP | raw }}
					</a>
								
				</div>

                <div class="square hvr-bounce-to-right" id="img4">
					<a href="{{ path('acme_core_contact') }}" title="Contact">
						{{ Contact | raw }}
					</a>
							
				</div>
			</div>
 {% endblock %}
