<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block head %}{% endblock %}

            <title>{% block title %}{% endblock %} - PROJECTeam</title>
                <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <meta name="description" content="Site officiel de Projecteam organisé par Junior ISEP" />
                <meta name="keywords" content="" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
                    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
        


                <link rel="stylesheet" href="{{ asset('css/flipclock.css') }}">
                <script src="{{ asset('js/jquery.min.js') }}"></script>
                <script src="{{ asset('js/flipclock.js') }}"></script>
                    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
       
        <style type="text/css">
            @font-face {
                font-family: "Perso";
                 src: url('{{ asset('fonts/fontawesome-webfont.ttf') }}');
                }

            #nav li{
                font-family: "Perso";
            }

            .clock{
                margin-left:25%;
                margin-right:25%;
            }
        </style>
        {% block stylesheet %}{% endblock %}

    </head>

    <body class="homepage">
        <!--Header -->
        <header>
            <div id="header-wrapper">
                <div id="header" class="container">
                    <h1 id="logo"><a href="{{ path('acme_core_backoffice') }}">PROJECTeam</a></h1>
                    <!-- Nav -->
                    <nav id="nav">
                    <br />                
                        <ul>
                            <li><a href="{{ path('acme_core_modif') }}">Modifier les pages</a></li>
                            <li><a href="{{ path('acme_core_entreprise') }}">Voir les entreprises inscrites</a></li>
                            <li><a href="{{ path('acme_core_inscrit') }}">voir les utilisateurs inscrits</a></li>
                            <li><a href="{{ path('acme_core_feedbackuser') }}">Voir les feedback des utilisateurs</a>
                            <li style="float:right;"> <a href="{{ path('acme_core_logout') }}">se déconnecter</a> </li>
                        </ul>
                    </nav>
                </div>
                <br />
                <!-- Countdown -->
                <div class="clock"></div>
                    <script type="text/javascript">
                        // Grab the current date
                             var currentDate = new Date();
                        // Set some date in the past. In this case, it's always been since Jan 1
                             var futureDate  = new Date(currentDate.getFullYear(2015), 4, 23);
                        // Calculate the difference in seconds between the future and current date
                             var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
                         var clock = $('.clock').FlipClock(diff, {
                         countdown: true,
                         clockFace: 'DailyCounter',
                        });
                    </script>
            </div>
        </header>
        <!-- contenu modifiable par page -->
        {% block body %}{% endblock %}
        <!--footer-->      
            <footer id="footer">
                <div class="container">
                    <div class="row double">
                        <div class="6u">
                            <div class="row collapse-at-2">
                                <div class="6u">
                                    <h3>Plan du site</h3>
                                    <ul class="alt">
                                        <li><a href="{{ path('acme_core_homepage') }}">Accueil</a></li>
                                        <li><a href="{{ path('acme_core_description') }}">Description</a></li>
                                        <li><a href="{{ path('acme_core_sponsor') }}">Nos Sponsors</a></li>
                                        <li><a href="{{ path('acme_core_contact') }}">Participer</a></li>
                                        <li><a href="{{ path('acme_core_faq') }}">FAQ</a></li>
                                    </ul>
                                </div>
                                <div class="6u">
                                    <h3>Nous suivre</h3>
                                    <ul class="alt">
                                        <li><a href="https://facebook.com/JuniorISEP.PARIS">Facebook</a></li>
                                        <li><a href="https://twitter.com/@juniorisep">Twitter</a></li>
                                        <li><a href="http://www.juniorisep.com">Junior ISEP</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="6u">
                            <div class="row collapse-at-2">
                                <div class="6u">
                                    <h3>Contact</h3>
                                    <ul class="alt">
                                        <li>ISEP <br />10 rue de Vanves <br/>92130 Issy les moulineaux</li>
                                        <li><a href="tel:+33142226744">+ 33 1 42 22 67 44 </a></li>
                                        <li><a href="mailto:projecteam@juniorisep.com">projecteam@juniorisep.com</a></li>
                                        <li><img src="{{ asset('images/transport1.png') }}" alt="transport"><br />A 3 minutes à pied de l'arrêt Corentin Celton</li>
                                    </ul>
                                </div>
                                <div class="6u">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2626.722378345169!2d2.27912331824646!3d48.82535825390707!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6707980bd3947%3A0xd54fb6c5e1933333!2s10+Rue+de+Vanves%2C+92170+Issy-les-Moulineaux!5e0!3m2!1sfr!2sfr!4v1427895007140" width="300" height="250" frameborder="0" style="border:0"></iframe>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="copyright" class="copyright">
                        <ul style="font-size: 0.9em;">
                            <li>&copy; PROJECTeam. All rights reserved.</li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            <li><a href="{{ path('acme_core_homepage') }}">Mentions Legales</a></li>
                        </ul>
                    </div>
                </div>
            </footer>

        <script src="{{ asset('js/jquery.dropotron.min.js') }}"></script>
        <script src="{{ asset('js/skel.min.js') }}"></script>
        <script src="{{ asset('js/skel-layers.min.js') }}j"></script>
        <script src="{{ asset('js/init.js') }}"></script>

    </body>
</html>
